{# empty Twig template #}

<!DOCTYPE html>

<head>
    
    <meta charset ="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block stylesheet %}
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    {% endblock %}
    
    <title>ADMC</title>
    
</head>


<body>
    
    {% block body %}
        <h1>Page principale</h1>
        
        
    {% endblock %}
    
    
</body>
