{# empty Twig template #}




{% extends 'ADMCCoreBundle::layout.html.twig' %}


{% block body %}
    
    {{ parent() }}
    <h2>Page ajout d'un élément</h2>
    
    {{ form(form) }}
    
    
    
    
{% endblock %}